<div class="container-fluid padding background-img">
  <div class="row text-center lead2">

    <div class="col-md-4 footer-section-1 d-md-none">
        <img class="logo" src="/assets/img/LOGO4.png" width="128px">
      <hr class="">
      <p>Yuniord1991@gmail.com</p>
      <p>Avenida San Martin 3452</p>
      <p>Caseros, Buenos Aires.</p>
    </div>

    <div class="col-md-4 footer-section-2">
      <h3 class="display-7">Customer Service</h3>
      <hr class="">
      <p>+54-11-59819447</p>
      <p>Monday - Friday</p>
      <p>08:00 - 19:00</p>
      <p>Saturday</p>
      <p>10:00 - 13:00</p>
    </div>

    <div class="col-md-4 footer-section-1 d-none d-md-block">
        <a routerLink="/home" routerLinkActive="active"><img class="logo" src="/assets/img/LOGO4.png" width="128px"></a>
      <hr class="">
      <p>Yuniord1991@gmail.com</p>
      <p>Avenida San Martin 3452</p>
      <p>Caseros, Buenos Aires.</p>
    </div>

    <div class="col-md-4 footer-section-3">
      <h3 class="display-7">Stay Connected</h3>
      <hr class="">
      <a href="#"><p class="lead2">Facebook</p></a>
      <a href="#"><p class="lead2">Instagram</p></a>
      <a href="#"><p class="lead2">Snapchat</p></a>
      <a href="#"><p class="lead2">Twitter</p></a>
      <a href="#"><p class="lead2">Whatsapp</p></a>
    </div>

  </div>
</div>
