<!-----------------------section---2------------------------->

<div class="container-fluid padding pdd-btwn-prev2">
        <div class="row padding">
            <div class="col-lg-6 col-xl-4 d-none d-lg-block">
                <img src="/assets/img/SecondPreview.png" class="img-fluid">
            </div>
            <div class="col-md-12 col-lg-6 col-xl-8 padding1">
                <div class="">
                    <h2 class="display-5 d-md-none">Want to share recipes?</h2>
                    <h2 class="display-3 d-none d-md-block">Want to share recipes?</h2>
                    <p class="lead">Create an extraordinary coctel and share it with others, Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, aspernatur enim voluptas nulla amet, vero commodi dolorum molestiae, obcaecati voluptatum inventore! Rerum deleniti molestias odio saepe expedita? Cumque, error facilis.</p>
                </div>
                <div class="container col">
                    <a href="#"><button class="btn btn-outline-secondary col-12 col-md-4">Go Share</button></a> 
                </div>
            </div>
            <div class="col-sm-12 d-lg-none ">
                <img src="/assets/img/SecondPreview.png" class="img-fluid">
            </div>
        </div>
    </div>