<!-----------------------------section--1------------------------>

<div class="container-fluid padding pdd-btwn-prev">
        <div class="row padding bg-col-jmbt">
            <div class="col-md-12 col-lg-6 col-xl-8 padding1">
                <h2 class="display-5 d-md-none">A new way of learning</h2>
                <h2 class="display-3 d-none d-md-block">A new way of learning</h2>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus consequuntur dolorum, reprehenderit tempora eveniet dolorem recusandae beatae sunt optio <br>
                soluta ad aut quis inventore earum ea dolor sed et corporis aperiam ipsam nihil quibusdam maxime ex eligendi? Quis harum possimus perspiciatis amet atque voluptatem, quam cupiditate autem repellat maiores delectus.</p>
                <div class="container col">
                    <a href="#"><button class="btn btn-outline-secondary col-12 col-md-4">Star Learning</button></a> 
                </div>
            </div>
            <div class="col-sm-12 d-lg-none">
                <img src="/assets/img/FirstPreview-SM.png" class="rounded img-fluid">
            </div>
    
            <div class="d-lg-block col-lg-6 col-xl-4 d-none">
                    <img src="/assets/img/FirstPreview-XL.png" class="rounded img-fluid">
            </div>
        </div>
    </div>