<!---- WELCOME SECTION---->
    
<br>
<div class="welcome-p">
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12 d-md-none">
                <h1 class="display-5 text-dark">Are you a beginner?</h1>
            </div>
            <div class="col-12 d-none d-md-block">
                    <h1 class="display-4 text-dark">Are you a beginner?</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <div class="col-12">
                <p class="lead text-dark">Don't worry, we all have forgotten recipes...  <br> with "Coctel" you can learn more than 500 classics coctails. 
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
