<!-----------------------------------------------Connect--------------------------------------->
<div class="container-fluid padding pb-5">
    <div class="row text-center padding">
        <div class="col-12">
            <h2 class="display-5 d-md-none pb-5 pt-2">Connect</h2>
            <h2 class="display-3 d-none d-md-block pb-5 pt-5">Connect</h2>
        </div>
    </div>
    <div class="row justify-content-center padding">
        <a href="#"><img class="social-media" src="/assets/img/face.png" alt="face"></a>
        <a href="#"><img class="social-media" src="/assets/img/ig.png" alt="instagram"></a>
        <a href="#"><img class="social-media" src="/assets/img/twitter.png" alt="twitter"></a>
        <a href="#"><img class="social-media" src="/assets/img/snapchat.png" alt="snapchat"></a>
        <a href="#"><img class="social-media" src="/assets/img/whatsapp.png" alt="whatsapp"></a>
    </div>
    <button mat-button (click)="enviarObjeto()">Prueba Licor</button>
</div>

